.DS_Store
*/.DS_Store

application/config/development

application/cookies/*
!application/cookies/index.html
!application/cookies/.htaccess

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

cache/*
!cache/index.html
!cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

